#back{
    background-image: url("sunsetback.jpg");

}

#back1{
    background-image: url("mountainback.jpg");

}

.form1{
	width: 380px;
	height: 480px;
	position: center;
	margin: 3% auto;
	background: #fff;
	padding: 2px;
	overflow: hidden;
    border-style: ridge;
    border-color:rgb(140, 162, 221);
    border-width: 10px;
	
}

.form{
	width: 380px;
	height: 380px;
	position: center;
	margin: 3% auto;
	background: #fff;
	padding: 2px;
	overflow: hidden;
    border-style: ridge;
    border-color:tomato;
    border-width: 10px;
	
}

#loghead{
    font-size:40px;
    font-family: 'Andada Pro', serif;
}

.input-field{
    width: 100%;
    padding: 10px 0;
	margin: 5px 0;
	border-left: 0;
	border-top: 0;
	border-right: 0;
	border-bottom: 1px solid #999;
	outline: none;
	background: transparent;

}

.header{
    margin-top: 50px;
    font-size: 70px;
}



#username, #username1{
    margin-top: 5px;
}

#password, #password1{
    margin-top: 10px;
}

#wordpass, #email{
    margin-top: 10px;
}

#signup{
margin-top: 20px;
}

.login{
    border-radius: 100px;
    border-style: inset;
    border-color: salmon;
    border-width: 5px;
}

.login1{
    border-radius: 100px;
    border-style: inset;
    border-color: rgba(138, 183, 231, 0.9);
    border-width: 5px;
}

.login:hover, .login1:hover{
    transform: scale(1.2, 1.2);
}

#logo{
    width: 80px;
    border-radius: 50px;
}

#slogan{
    font-family: 'Rajdhani', sans-serif;
}

#head{
    font-family: 'Cormorant Garamond', serif;
}

#checkie{
    margin: 0px 10px 10px 0;
}

#term{
    color: #777;
	font-size: 15px;
	bottom: 68px;
}




